/* RegularCastCard.css */
/* Skeleton Circle for image placeholder */
.cast-skeleton-circle {
    width: 80px;
    height: 80px;
}

/* Skeleton Bars for name and character placeholders */
.cast-skeleton-bar {
    height: 15px;
    width: 70%;
    margin: 0 auto;
}

.cast-skeleton-bar:last-child {
    width: 50%;
}