/* IndexUI.css*/
.index-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  z-index: -1 !important;
}

.index-page .homepage {
  position: relative;
  z-index: 1 !important;
  background: transparent;
  padding-top: 50px;
}