/* App.css */
/* External CSS(Global Styles) */

/* Reusable Styles, Dynamic Resolutions & Animations */
.bd-callout-white {
  background-color: rgba(120, 120, 120, 0.8);
  position: relative;
  backdrop-filter: blur(4px);
}

.bd-callout-black {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  backdrop-filter: blur(4px);
}

.bd-callout-dark {
  background-color: rgba(33, 37, 41, 0.8);
  position: relative;
  backdrop-filter: blur(4px);
}

.bd-callout-danger {
  background-color: rgba(220, 53, 69, 0.8);
  position: relative;
  backdrop-filter: blur(4px);
}

.bd-callout-primary {
  background-color: rgba(0, 123, 255, 0.8);
  position: relative;
  backdrop-filter: blur(4px);
}

.bd-callout-success {
  background-color: rgba(40, 167, 69, 0.8);
  position: relative;
  backdrop-filter: blur(4px);
}

.bd-callout-warning {
  background-color: rgba(74, 58, 4, 0.8);
  position: relative;
  backdrop-filter: blur(4px);
}

.custom-bg {
  background-color: rgba(33, 37, 41, 0.5);
  border: none;
  backdrop-filter: blur(4px);
}

.custom-bg:enabled {
  background-color: rgba(33, 37, 41, 0.5);
  border: none;
  backdrop-filter: blur(4px);
}

.nowrap {
  white-space: nowrap;
}

.rounded-pill-l {
  border: none;
  border-radius: 50rem 0px 0px 50rem !important;
}

.rounded-pill-r {
  border: none;
  border-radius: 0px 50rem 50rem 0px !important;
}

.custom-card-img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  overflow: hidden;
}

.custom-card-container {
  height: 100%;
  aspect-ratio: 2 / 3;
}

.custom-dropdown {
  max-height: 400px;
  max-width: 250px;
}

.custom-dropdown-menu {
  margin: 0 !important;
  padding: 0 !important;
}

.custom-dropdown-menu li {
  margin: 0 !important;
  padding: 0 !important;
}

.custom-filters {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;
}

.custom-icon-size {
  height: 50px;
  width: 50px;
}

.custom-input-group {
  flex: 1;
  width: 100%;
}

.custom-input-group .btn {
  flex-shrink: 0;
}

.custom-input-group .form-control {
  flex: 1;
}

.custom-theme-btn {
  background-color: #88ab33;
  border: none;
}

.custom-theme-color {
  background-color: #88ab33;
}

.custom-theme-radius {
  border-radius: 1rem !important;
}

.custom-theme-radius-bottom {
  border-radius: 0px 0px 1rem 1rem !important;
}

.custom-theme-radius-low {
  border-radius: .5rem !important;
}

.custom-theme-radius-low-br {
  border-radius: 0px 0px .5rem 0px !important;
}

.spinner-size-2 {
  height: 2rem;
  width: 2rem;
}

.spinner-size-3 {
  height: 3rem;
  width: 3rem;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
}

.custom-textarea::placeholder {
  color: #ccc;
  opacity: 1;
}

.provider-card {
  flex: 0 0 auto;
  cursor: pointer;
  height: auto;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.provider-logo {
  width: 80%;
  height: auto;
  object-fit: contain;
}

/* For phones with a maximum width of 767px */
@media (max-width: 767px) {
  .provider-card {
    width: 135px;
  }

  .form-pad, .modal-pad {
    max-width: 100%;
  }

  .custom-cast-card-img {
    height: 70px;
    width: 70px;
  }

  .custom-card-container {
    height: 200px;
  }

  .episode-list {
    max-height: 280px;
  }

  .dynamic-hs {
    font-size: 1.2rem;
  }

  .dynamic-ts {
    font-size: 1rem;
  }

  .dynamic-fs {
    font-size: 0.9rem;
  }

  .dynamic-ss {
    font-size: 0.8rem;
  }
}

/* For iPads and tablets with a width of 768px to 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
  .provider-card {
    width: 165px;
  }

  .form-pad, .modal-pad {
    max-width: 70%;
  }

  .custom-cast-card-img {
    height: 80px;
    width: 80px;
  }

  .custom-card-container {
    height: 250px;
  }

  .episode-list {
    max-height: 330px;
  }

  .dynamic-hs {
    font-size: 1.5rem;
  }

  .dynamic-ts {
    font-size: 1.3rem;
  }

  .dynamic-fs {
    font-size: 1.1rem;
  }

  .dynamic-ss {
    font-size: 1rem;
  }
}

/* For laptops and desktops with a width of 1200px and above */
@media (min-width: 1200px) {
  .provider-card {
    width: 200px;
  }

  .form-pad, .modal-pad {
    max-width: 40%;
  }

  .custom-cast-card-img {
    height: 90px;
    width: 90px;
  }

  .custom-card-container {
    height: 300px;
  }

  .episode-list {
    max-height: 305px;
  }

  .dynamic-hs {
    font-size: 1.6rem;
  }

  .dynamic-ts {
    font-size: 1.2rem;
  }

  .dynamic-fs {
    font-size: 1rem;
  }

  .dynamic-ss {
    font-size: 0.9rem;
  }
}

/* Zoom-In Animation */
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Zoom-Out Animation */
@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

/* Zoom-In-Out Animation */
/* Prevent Bootstrap from interfering */
.modal.zoom-in-out .modal-dialog {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* When modal is shown */
.modal.zoom-in-out.show .modal-dialog {
  animation: zoomIn 0.3s ease-out forwards;
}

/* When modal is hiding */
.modal.zoom-in-out.fade:not(.show) .modal-dialog {
  animation: zoomOut 0.3s ease-out forwards;
}

/* Ensure the backdrop (blur) disappears when closing */
.modal-backdrop {
  transition: opacity 0.3s ease;
}