/* index.css */
body {
  background: linear-gradient(to bottom, #121229, black, black, black);
  background-size: cover;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom scrollbar styles */
  scrollbar-color: rgba(33, 37, 41, 0.5);
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Poppins Font */
.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

/* Recommendation item*/
.index-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.index-page .homepage {
  position: relative;
  z-index: 1;
  background: transparent;
  padding-top: 50px;
}

.nowrap {
  white-space: nowrap;
}

/* Custom colors */
.theme-color {
  color: #51a6f5;
}

.theme-bg {
  background-color: #51a6f5;
  transition: background-color 0.3s ease;
}

.theme-bg:hover {
  background-color: #3b8ed1;
}

/* Custom heights and widths */
.custom-margin-top {
  margin-top: 4px;
}

.custom-margin-bottom {
  margin-bottom: 4px;
}

.custom-margin-left {
  margin-left: 4px;
}

.custom-margin-right {
  margin-right: 4px;
}

.custom-margin-x {
  margin: 0px 4px;
}

.custom-margin-y {
  margin: 4px 0px;
}

.custom-gap{
  gap: 4px;
}

.vh-25 {
  min-height: 25vh;
}

.vh-35 {
  min-height: 35vh;
}

.vh-50 {
  min-height: 50vh;
}

.vh-70 {
  min-height: 70vh;
}

.vh-100 {
  min-height: 100vh;
}

.w-50 {
  width: 50%;
}

/* End of main parts */