/* index.css */
:root {
  /* Main Font Styles */
  --main-font: "Inter", "Helvetica Neue", Arial, sans-serif;
}

body {
  /* Main Body Styles */
  background: black;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global Font Family */
  font-family: var(--main-font);

  /* Global Custom Scrollbar Default Styles */
  scrollbar-color: #343a40 transparent;
  scrollbar-width: thin;
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Common & Custom colors */
.theme-color {
  color: #51a6f5;
}

.theme-bg {
  background-color: #51a6f5;
  transition: background-color 0.3s ease;
}

.theme-bg:hover {
  background-color: #3b8ed1;
}

/* Common & Custom heights and widths */
.custom-margin-top {
  margin-top: 4px;
}

.custom-margin-bottom {
  margin-bottom: 4px;
}

.custom-margin-left {
  margin-left: 4px;
}

.custom-margin-right {
  margin-right: 4px;
}

.custom-margin-x {
  margin: 0px 4px;
}

.custom-margin-y {
  margin: 4px 0px;
}

.custom-gap {
  gap: 4px;
}

.vh-25 {
  min-height: 25vh;
}

.vh-35 {
  min-height: 35vh;
}

.vh-50 {
  min-height: 50vh;
}

.vh-70 {
  min-height: 70vh;
}

.vh-100 {
  min-height: 100vh;
}

.w-50 {
  width: 50%;
}

/* End of main parts */