/* index.css */
:root {
  /* Main Font Styles */
  --main-font: "Inter", "Helvetica Neue", Arial, sans-serif;
  --theme-color: #51a6f5;
  --anime-theme-color: #ff69b4;
}

body {
  /* Main Body Styles */
  background: #121212;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global Font Family */
  font-family: var(--main-font);

  /* Global Custom Scrollbar Default Styles */
  scrollbar-color: #343a40 transparent;
  scrollbar-width: thin;
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Common & Custom colors */
.theme-color {
  color: var(--theme-color) !important;
}

.anime-theme-color {
  color: var(--anime-theme-color) !important;
}

.theme-border-color {
  border-left-color: var(--theme-color) !important;
}

/* Common & Custom heights and widths */
.custom-gap {
  gap: 1rem;
}

.vh-100 {
  min-height: 100vh;
}

.w-50 {
  width: 50%;
}

/* End of main parts */